target/
project/project/
project/target/
.idea
logs/
sigar/
build
bin/
.classpath
.project
.settings
.cache-main
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml
ws.sc
.DS_Store